.bcg {
    color: aliceblue;
}

/* .photo {
    width: 400px;
    
} */

/* body {  - селектор
    color: red;  - свойство
} */

.test-text {  
    color: rgb(255, 0, 255);
}

.wrapper {
    position: relative;
}

.first_block {  
    position: relative;
    right: 200px;
    left: 500px;
    display: inline-block;
    padding: 10px;
    background: rgb(0, 255, 255);
}

.Ndref {
    color: rgb(0, 0, 0);
    
}

.Ndref:hover {
    color: red;
    text-decoration: none;
    /* cursor: url(""); */
    /* text-decoration-color: blue; раскраска линии */
}

.Ndref:visited { 
    color: grey;
}

#Some_id::after {  
    content: "20";
    color: darkblue;
}

body {
    background-color: #28282B;
}

.img12 {    
    width: 300px;
    background-attachment: fixed;
}

.btn {
    width: 200px;
    color: green;
    display: inline-block;
    background-color:#28282B ;
}