.bcg {
    color: aliceblue;
}

/* .photo {
    width: 400px;
    
} */

/* body {  - селектор
    color: red;  - свойство
} */

.test-text {  
    color: rgb(255, 0, 255);
}

.wrapper {
    position: relative;
}

.first_block {  
    position: relative;
    right: 200px;
    left: 500px;
    display: inline-block;
    padding: 10px;
    background: rgb(0, 255, 255);
}

.Ndref {
    color: rgb(0, 0, 0);
    
}

.Ndref:hover {
    color: red;
    text-decoration: none;
    /* cursor: url(""); */
    /* text-decoration-color: blue; раскраска линии */
}

.Ndref:visited { 
    color: grey;
}

#Some_id::after {  
    content: "20";
    color: darkblue;
}

body {
    background-color: #28282B;
    font-size: 16px;
}

.img12 {    
    width: 300px;
    background-attachment: fixed;
}

.btn {
    width: 200px;
    color: green;
    display: inline-block;
    background-color:#28282B ;
    border-radius: 10px;
}

.xxx {
    color: white;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    font-family: "Great Vibes", cursive;
    font-weight: 300px;
    font-style: normal;

        text-transform: none;
        /* letter-spacing: 10px; */
}

#block {
    background: white;
    height: 100px;
    width: 100px;
    border: 5px solid silver;

    border-radius: 10px;
    opacity: 0.8;
}

.block2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(44, 41, 41);
    padding: 28px 25.4px;
    border-radius: 5px;
    font-size: 35px;
}